@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background-image: url(./img/backainda.png);
    background-size: cover;

}

body h1 {
    color: goldenrod;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
      
}

main {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    width: 100%;
    max-width: 300px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.spnQtd {
    text-align: center;
    color: blue;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

button {
    width: 100%;
    text-align: start;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(228, 198, 27);
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover{
    background-color:goldenrod;
}

.finish {
    display: none;
    flex-direction: column;
    gap: 10px;

}

.finish button {
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }